<ul>
  <% if (loggedUser===undefined) {%>
  <li>
    <a class="join" href="https://10.114.32.39/app/join">Join</a>
  </li>
  <li>
    <a class="login" href="https://10.114.32.39/app/login">Log In</a>
  </li>
  <%} else {%>
  <li>
    <a class="join" href="https://10.114.32.39/app/posts/upload">Upload</a>
  </li>
  <li>
    <a class="login" href="https://10.114.32.39/app/me">Profile</a>
  </li>
  <li>
    <a class="login" href="https://10.114.32.39/app/logout">Log Out</a>
  </li>
  <%}%>
    </ul>