<h1><a href='<%=routes.home%>'>Food advisor</a></h1>
<div class="bottom">
    <h3>
        Do you still have restaurants you haven't visited?
    </h3>
    <p>
        some explanation...
    </p>
    <nav>
        <ul>
            <li>About us</li>
        </ul>
    </nav>
</div>