<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../css/reset.css" />
  <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  
  <title>Food Advisor</title>
 
</head>
<body>
  <header class="title_header">
    <%- include('../partials/title_header') %>
  </header>
  <header class="login_header">
    <%- include('../partials/login_header') %>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <span class="footer__text"></span>
  </footer>
  </body>
</html>