<div class="form-wrapper">
    <h2>Edit profile</h2>
    <div class="form-container">
        <!-- TODO: add validators-->
        <form class="register-form" action="/users<%=routes.editProfile%>" method="POST" enctype="multipart/form-data">
            <label>Avatar</label>
            <label class="file-button" for="file">Add file</label>
            <input class="filetype" type="file" name="avatar" id="file" accept="image/*"/>
            <label for="nickname">Nickname</label>
            <input class="input-field" type="text" name="nickname" id="nickname" placeholder="Nickname" value="<%=user.nickname%>" pattern=".{3,}"
                required>
            <label for="email">Email</label>
            <input class="input-field" type="email" name="email" id="email" placeholder="Email" value="<%=user.email%>" required>
            <span class="email-error"></span>
            <input class="submit" type="submit" value="ðŸ— Update profile">
        </form>
    </div>
</div>
<link rel="stylesheet" href="../css/form.css" />
