<div class="form-wrapper">
    <h2>Edit Post</h2>
    <div class="form-container">
        <!-- TODO: add validators-->
        <form action="<%=routes.editPost(post.id)%>" method="POST" enctype="multipart/form-data" id="upload">
            <label><span>*</span>Add files (image, video, audio files available)</label>
            <label class="file-button" for="file">Add file</label>
            <input class="filetype" type="file" name="file" id="file" accept="audio/*,video/*,image/*" required/>
            <label for="title"><span>*</span>Restaurant</label>
            <input class="input-field" type="text" name="title" id="title" placeholder="Restaurant's name" value="<%=post.restaurant%>" required />
            <label for="description">Description</label>
            <textarea class="textarea" form="upload" name="description" id="description"><%=post.description%></textarea>
            <input class="submit" type="submit" value="🌭 Update post" />
        </form>
        <a class="delete submit" href="<%=routes.deletePost(post.id)%>">❌ Delete post</a>
    </div>
</div>
<link rel="stylesheet" href="../../css/reset.css" />
<link rel="stylesheet" href="../../css/styles.css" />
<link rel="stylesheet" href="../../css/form.css" />