<div class="form-container">
    <!-- TODO: add validators-->
    <form action='/join' method="POST">
        <input type="text" name="nickname" placeholder="Nickname" pattern=".{3,}" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password"  required>
        <input type="password" name="password2" placeholder="Verify Password"  required>
        <input type="submit" value="Join Now">
    </form>
</div>