<div class="form-wrapper">
    <h2>Log In</h2>
    <div class="form-container">
        <!-- TODO: add validators-->
        <form class="login-form" action="login" method="POST">
            <label for="email">Email</label>
            <input class="input-field" type="email" name="email" id="email" placeholder="Email" required>
            <span class="email-error"></span>
            <label for="password">Password</label>
            <input class="input-field" type="password" name="password" id="password" placeholder="Password" required>
            <span class="password-error"></span>
            <input class="submit" type="submit" value="ðŸ• Enter">
        </form>
    </div>
</div>
<link rel="stylesheet" href="../css/form.css" />
<script src="../js/login.js"></script>