<div class="search__header">
  <h3>Searching for: <%=searchingBy%></h3>
</div>
<section class="movie">
  <div class="wrapper">
    <div class="movie_header">
      <h4>Subway</h4>
      <h5>Name of author</h5>
    </div>
    <figure>
      <img src="../img/subway.jpg" alt="">
    </figure>
    <h5>views</h5>
    <h5>comments</h5>
    <h5>Vote: </h5>
  </div>
</section>
<section class="movie">
  <div class="wrapper">
    <div class="movie_header">
      <h4>Subway</h4>
      <h5>Name of author</h5>
    </div>
    <figure>
      <img src="../img/subway.jpg" alt="">
    </figure>
    <h5>views</h5>
    <h5>comments</h5>
    <h5>Vote: </h5>
  </div>
</section>
<link rel="stylesheet" href="../css/search.css" />