
.user-profile{
    width: min-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile{
    flex-direction: column;
}
.u-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: none;
    margin: 0rem 1rem 1rem 0rem;
}
.editProf, .changePass {
    border: none;
    background: #fd8664;
    width: auto;
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    margin: 1rem 1rem 1rem 0rem;
    cursor: pointer;
    border-radius: 16px;
}
.postList {
    font-size: 1.7rem;
    margin: 1rem 1rem 1rem 0rem;
}